<!DOCTYPE html>

<html lang="nl-NL">
    <head>
        <meta charset="utf-8">
        <title>Dashboard management | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        
    </head>

    <body>
        <div class="header">
            <h1 class="title">Dashboard</h1>

            <div class="navigation">
                <ul class="list">
                    <li><a href="/"><img src="/static/resources/nav/dashboard.png"></a></li>
                    <li><a href="/account"><img src="/static/resources/nav/account.png"></a></li>
                    <% if(account.admin > 0){ %>
                        <li><a href="/admin"><img src="/static/resources/nav/admin.png"></a></li>
                    <% } %>
                    <li><a href="/logout"><img src="/static/resources/nav/logout.png"></a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <h2 class="title">Dashboard management</h2>

            <div class="message">
                <% if(msg.content !== ""){ %>
                    <p style=<%= `color:${msg.color};` %>><%= msg.content %></p>
                <% } %>
            </div>

            <div class="admin">
                <div class="info dataBox">
                    <h3 class="name">Menu</h3>
                    <div class="data">
                        <p><a href="/admin/users">Users: <%= stats.users %></a></p>
                        <p><a href="/admin/projects">Projects: <%= stats.projects.active %> / <%= stats.projects.total %></a></p>
                        <p><a href="/admin/submissions">Submissions: <%= stats.submissions %></a></p>
                    </div>
                </div>

                <div class="serverStats dataBox">
                    <h3 class="name">Main Server Stats</h3>
                    <div class="data">
                        <p>Memory: <span id="serverMemory"></span> MB</p>
                        <p>CPU: <span id="serverCpu"></span>%</p>
                    </div>
                    <div class="charts" style="display: inline;">
                        <div id="chart-ram" class="chart"></div>
                        <div id="chart-cpu" class="chart"></div>
                    </div>
                </div>
        
                
            </div>
        </div>

        <div class="footer">
        </div>
    
        <script src="/static/script/adminScript.js"></script>
    </body>
</html>

