<!DOCTYPE html>

<html lang="nl-NL">
    <head>
        <meta charset="utf-8">
        <title>Manage user | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <div class="header">
            <h1 class="title">Dashboard</h1>

            <div class="navigation">
                <ul class="list">
                    <li><a href="/"><img src="/static/resources/nav/dashboard.png"></a></li>
                    <li><a href="/account"><img src="/static/resources/nav/account.png"></a></li>
                    <% if(account.admin > 0){ %>
                        <li><a href="/admin"><img src="/static/resources/nav/admin.png"></a></li>
                    <% } %>
                    <li><a href="/logout"><img src="/static/resources/nav/logout.png"></a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <h2 class="title">Account info: <%= user.username %></h2>

            <div class="message">
                <% if(msg.content !== ""){ %>
                    <p style=<%= `color:${msg.color};` %>><%= msg.content %></p>
                <% } %>
            </div>

            <div class="back" onclick="window.location.assign('/admin/users')">
                <p><- Back</p>
            </div>
    
            <div class="user adminItem">
                <div class="info dataBox">
                    <h3 class="name">Info</h3>
                    <div class="data">
                        <p>User ID: <%= user.id %></p>
                        <p>Username: <%= user.username %></p>
                        <p>Email adress: <%= user.email %></p>
                    </div>
                </div>
                
                <div class="actions dataBox">
                    <h3 class="name">Account Actions</h3>
                    <div class="data">
                        <% if(account.id != user.id && account.admin > user.admin){ %>
                            <% if(account.admin >= 2){ %>
                                <form method="POST" action=<%= `/admin/users/${user.id}` %>><button name="action" value="setAdmin"><%= user.admin == 0 ? "Make Admin" : "Remove Admin" %></button></form>
                                <form method="POST" action=<%= `/admin/users/${user.id}` %>><button name="action" value="delete">Delete</button></form>
                            <% } %>
                        <% }else{ %>
                            <p>You can't moderate this account</p>
                        <% } %>
                    </div>
                </div>

                <div class="projects dataBox">
                    <h3 class="name"><%= user.username %>'s Projects</h3>
                    <div class="data">
                        <% if(user.projects.length <= 0){ %>
                            <p>No projects found</p>
                        <% } else { %>
                            <table>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                </tr>
                                <% for(var i in user.projects){ %>
                                    <% var project = user.projects[i]; %>
                                    <tr class="tableRow" onclick=<%= `window.location.assign('/console/${project.id}')` %>>
                                        <td><%= project.id %></td>
                                        <td><%= project.name %></td>
                                        <td><%= project.status %></td>
                                    </tr>
                                <% } %>
                            </table>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

