<!DOCTYPE html>

<html lang="nl-NL">
    <head>
        <meta charset="utf-8">
        <title>Home | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <div class="header">
            <h1 class="title">Dashboard</h1>

            <div class="navigation">
                <ul class="list">
                    <li><a href="/"><img src="/static/resources/nav/dashboard.png"></a></li>
                    <li><a href="/account"><img src="/static/resources/nav/account.png"></a></li>
                    <% if(account.admin > 0){ %>
                        <li><a href="/admin"><img src="/static/resources/nav/admin.png"></a></li>
                    <% } %>
                    <li><a href="/logout"><img src="/static/resources/nav/logout.png"></a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <h2 class="title">Welcome back, <%= account.username %></h2>

            <div class="message">
                <% if(msg.content !== ""){ %>
                    <p style=<%= `color:${msg.color};` %>><%= msg.content %></p>
                <% } %>
            </div>
    
            <div class="addServer">
                <form action="/createServer" method="GET" class="form">
                    <button>Ask for a server</button>
                </form>
            </div>

            <div id="servers" class="servers" data-servers=<%= JSON.stringify(servers) %>>
                <% for(var x in servers){ %>
                    <% var server = servers[x]; %>
                    <% var name = server.name; %>
                    <% while(server.name.indexOf(" ") >= 0){ %>
                        <% server.name = server.name.replace(" ", "-") %>
                    <% } %>
                    <% servers[x] = server %>
                <% } %>

                <% var serverCount = 0 %>
                <% for(var x in servers){ %>
                    <% var server = servers[x]; %>
                    <% serverCount++; %>
                    <div class="serverBox" id=<%= `serverBox-${server.id}` %> onClick=<%= `goToServer(${server.id})` %> >
                        <div class="serverData" ></div>
                        <p class="name"><%= server.name %></p>
                        <p class="status" id=<%= `serverBoxStatus-${server.id}` %>></p>
                    </div>
                <% } %>
                <% if(serverCount == 0){ %>
                    <h3 class="noServers">There aren't any servers to display...</h3>
                <% } %>
            </div>
        </div>

        <div class="footer">
            <p>&copy;2022 Dashboard</p>
        </div>
        
        <script>
            var servers = {};
            "<% for(var x in servers){ %>"
                servers["<%= x %>"] = "<%= servers[x] %>"
            " <% } %>"
        </script>
        <script src="/static/script/dashboardScript.js"></script>
    </body>
</html>

