<!DOCTYPE html>

<html lang="nl-NL">
    <head>
        <meta charset="utf-8">
        <title>Manage project | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <div class="header">
            <h1 class="title">Dashboard</h1>

            <div class="navigation">
                <ul class="list">
                    <li><a href="/"><img src="/static/resources/nav/dashboard.png"></a></li>
                    <li><a href="/account"><img src="/static/resources/nav/account.png"></a></li>
                    <% if(account.admin > 0){ %>
                        <li><a href="/admin"><img src="/static/resources/nav/admin.png"></a></li>
                    <% } %>
                    <li><a href="/logout"><img src="/static/resources/nav/logout.png"></a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <h2 class="title">Project Info: <%= project.name %></h2>

            <div class="message">
                <% if(msg.content !== ""){ %>
                    <p style=<%= `color:${msg.color};` %>><%= msg.content %></p>
                <% } %>
            </div>

            <div class="back" onclick="window.location.assign('/admin/projects')">
                <p><- Back</p>
            </div>

            <div class="project adminItem">
                <div class="info dataBox">
                    <h3 class="name">Info</h3>
                    <div class="data">
                        <p>Project ID: <%= project.id %></p>
                        <p>Project Name: <%= project.name %></p>
                        <p>Owner: <a href=<%= `/admin/users/${project.owner.id}` %>><%= project.owner.username %></a></p>
                        <p>Status: <%= project.status %></p>
                    </div>
                </div>

                <div class="actions dataBox">
                    <h3 class="name">Actions</h3>
                    <div class="data">
                        <form method="GET" action=<%= `/console/${project.id}` %>><button>To project dashboard</button></form>
                        <form method="POST" action=<%= `/admin/projects/${project.id}` %>><button name="action" value="setActive"><%= project.status === "Inactive" ? "Activate" : "Inactivate" %></button></form>
                        <% if(account.admin >= 2){ %>
                            <form method="POST" action=<%= `/admin/projects/${project.id}` %>><button name="action" value="delete">Delete</button></form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

